@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body{
    background-image: url("images/background.jpg");    
    background-blend-mode:overlay;
    background-size:100%;

    }
    input[type=text]{        
        padding: 12px 20px;
        margin: 8px 0;
        font-size:medium;
        background-color: #f8f8f8;
        background-image: url(ico/search.png);
        background-size: 28px 28px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding-left: 50px;
        border-radius: 4px;
        position:center;
    }
    button[type=button], button[type=submit] {
        background-color:cornflowerblue;
        border: none;
        color: white;
        padding: 14px 32px;
        text-decoration: none;
        cursor: pointer;
        width: 255px;
    }
    select {
    }
</style>


<body  style="background-color:aliceblue">
    <hr style="border:solid"/>
    
        
        <h3 style="background-color:cornflowerblue;border-radius:3px;color:white;text-align:center">Enter the city to see the weather </h3>
    
    <form method="post" style="position:center; align-content:center; align-items:center">
        <div>       
            <input type="text" name="cityName" />
        </div> 
        <div>
            <p><select size="3" multiple name="typeForecast" style="width:252px;">
                <option disabled>Select the forecast type...</option>
                <option selected value="5Day">5 Day forecast</option>
                <option value="12Hour">12 Hour forecast</option>
            </select></p>
            <button type="submit" class="btn btn-primary" >Submit</button>
        </div>     
    </form>
    <hr style="border:solid"/>       
    <h4>Weather:</h4>
        <form method="post">           
           @{
                if(Model.Weather.Count > 0)
                {
                    <h5>@Model.Weather.First().Value.CityName</h5>
                    foreach (var item in Model.Weather)
                    {  
                        <form  style="border-block-end-width:medium">
                            <hr  />                            
                                <h6>@item.Key.Date.ToShortDateString()</h6>
                                Min. Temp. : @item.Value.MinTemp °C<br>
                                Max. Temp : @item.Value.MaxTemp °C<br>
                                Day - @item.Value.DaytimeMessage <img src="images/day/@item.Value.DayImageName"  style="width:75px; height:45px" /><br>
                                Night - @item.Value.NighttimeMessage <img src="images/night/@item.Value.NightImageName" style="width:75px; height:45px" /><br>
                            
                            <hr />
                        </form>    
                    }             
                }
                else if(Model.HourlyWeather.Count > 0)
                {
                    <h5>@Model.HourlyWeather.First().Value.CityName</h5>
                    foreach (var item in Model.HourlyWeather)
                    {
                        <form  style="border-block-end-width:medium">
                            <hr /> 
                                <h6>@item.Key.ToShortTimeString()</h6>
                                Temperature : @item.Value.Temperature °C<br>
                                Precipitation - @item.Value.HasPrecipitation<br>
                                Expects - @item.Value.ForecastMessage <img src="images/@item.Value.TimeOfNow/@item.Value.ImageForecastName" style="width:75px; height:45px" /><br>
                            <hr />
                        </form>  
                    }

                }
                else
                {
                    <dd>@WeatherAppInterfaceModel.FailureSearch</dd>
                }
        }    
        </form>
    </body>


