@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body style="background-color:aliceblue">
    <h3>Enter the city to see the weather</h3>

    <form method="post">
    
        <div class="form-group">
            <input type="text" style="align-content:stretch" name="cityName"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
           
    <h4>Weather:</h4>
        <form method="post">           
           @{
                if(!(Model.Weather.Count < 5))
                {
                    var dateTimeToday = DateTime.Today; 
                    <h5>@Model.Weather.First().Value.CityName</h5>
                    foreach (var item in Model.Weather)
                    {  
                        <form  style="border-block-end-width:medium">
                            <hr style="border:solid;width:stretch" />                            
                                <h6>@dateTimeToday.AddDays(item.Key).Date.ToShortDateString()</h6>
                                Min. Temp. : @item.Value.MinTemp<br>
                                Max. Temp : @item.Value.MaxTemp<br>
                                In daytime - @item.Value.DaytimeMessage <img src="images/day/@item.Value.DayImageName"  style="width:75px; height:45px" /><br>
                                In nighttime - @item.Value.NighttimeMessage <img src="images/night/@item.Value.NightImageName" style="width:75px; height:45px" /><br>
                            
                            <hr style="border:solid"/>
                        </form>    
                    }             
                }
                else if(Model.Weather.Count == 0)
                {
                   <hr style="border:solid"/>
                   <dd>@WeatherAppInterfaceModel.FailureSearch</dd>
                }
           }    
        </form>
    </body>


